@import "components/card/card.css";
@import "components/search-bar/search-bar.css";
@import "components/nav-button/nav-button.css";
@import "components/nav-pagination/nav-pagination.css";
@import "components/reset-button/reset-button.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}
:root {
  --color-primary: rgb(51, 51, 51);
  --color-secondary: #f6f6f6;
  --font-family: "Source Code Pro", monospace;
  --color-background: blueviolet;
  --color-high: rgb(162, 223, 39);
}
body {
  font-family: var(--font-family);
  color: var(--color-primary);
  margin: 1rem;
  background: url("./background.jpg");
}
main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* header */
@import url("https://fonts.googleapis.com/css?family=CalligraphicFont&display=swap");
.title {
  text-align: center;
  padding: 10px 0;
  width: 100%;
  color: var(--color-secondary);
  margin-bottom: 20px;
  font-size: 36px;
  color: var(--color-high);
  -webkit-text-stroke: 1px;
  animation: titleAnimation 2s ease infinite; /* Add animation here */
}
@keyframes titleAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(3);
  }
}
span {
  color: white;
}
